<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link href="style.css" rel="stylesheet">
</head>

<body>
  <ul>
    <li>Arrows: Move snake</li>
    <li>Enter: Pause game</li>
    <li>Escape: Quit game</li>
  <ul>

  <script src="app.js"></script>
</body>
</html>
